<!-- asistencias_trabajador.html -->

{% extends 'base.html' %}

{% block extra_styles %}
  <style>
    /* General table styling */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    th, td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    a {
      color: blue;
      font-weight: bold;
    }

    th {
        background-color: rgb(36, 105, 253);
        color: white;
        font-weight: bold;
    }

    tr {
        background-color: #f9f9f9;
    }

    .especial {
        background-color: rgb(255, 216, 133);
    }

    .especial:hover {
        background-color: rgb(245, 218, 95);
    }

    /* Add style for no records message */
    td[colspan="7"] {
        text-align: center;
        font-style: italic;
        padding: 20px;
    }

    /* Button style for the gear icon */
    .gear-button {
        font-size: 18px;  /* Emoji size */
        cursor: pointer;
        text-decoration: none;
        color: #333;
    }

    .gear-button:hover {
        color: #1e90ff;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Asistencias de {{ trabajador.empleado_nombre }}</h1>
  
  {% if asistencias %}
    <table>
      <thead>
        <tr>
          <th>⚠️</th>
          <th>Tipo</th>
          <th>Lugar</th>
          <th>Campo</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Fecha diferida</th>
          <th>Foto</th>
        </tr>
      </thead>
      <tbody>
        {% for asistencia in asistencias %}
          <tr {% if asistencia.tipo == 'entrada a destiempo' or asistencia.tipo == 'salida a destiempo' %} class="especial" {% endif %}>
            <td>
              <!-- Emoticono de tuerca como botón -->
              <a href="{% url 'asistencia_detalle' asistencia.id %}" class="gear-button" title="Configurar">
                ⚙️
              </a>
            </td>
            <td>{{ asistencia.tipo|upper }}</td>
            <td>{{ asistencia.lugar|upper }}</td>
            <td>
              {% if asistencia.lugar_campo %}
                {{ asistencia.lugar_campo }}
              {% else %}
                NO
              {% endif %}
            </td>
            <td>{{ asistencia.finalFecha|date:"d M Y" }}</td>
            <td>{{ asistencia.finalFecha|time:"h:i A" }}</td>
            <td>
              {% if asistencia.fecha_diferida %}
                {{ asistencia.fecha_diferida|date:"d/m h:i A" }}
              {% else %}
                NO
              {% endif %}
            </td>
            <td>
              {% if asistencia.foto %}
                <a href="{{ asistencia.foto.url }}" target="_blank">FOTO</a>
              {% else %}
                No disponible
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay asistencias registradas para este trabajador.</p>
  {% endif %}
{% endblock %}
