{% extends 'base.html' %}

{% block extra_styles %}
  <style>
    .dashboard-container {
      background-color: rgba(47, 53, 59, 0.9);
      background-size: cover;
      padding: 30px;
      border-radius: 1px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
      margin: 20px;
    }
    
    

    /* Contenedor para los cuadros */
    .dashboard-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
    }

    .dashboard-box {
      position: relative;
      background-color: rgba(255, 255, 255, 0.2); /* Transparente */
      border-radius: 1px;
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      padding: 20px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px; /* Ajusta el tamaño de los cuadros */
      cursor: pointer; /* Cambiar cursor para indicar que es clickeable */
    }
    
    .dashboard-box:hover {
      background-color: rgba(255, 255, 255, 0.5);
      transform: translateY(-8px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      border-color:white;
      border-width: 2px;  /* Establece el grosor del borde al pasar el mouse */
      border-style: solid; /* Asegura que el borde sea visible */
    }

    .dashboard-box .label {
      font-size: 16px;
      color: white;
      font-weight: 500;
      margin-top: 10px;
    }

    /* Search box styles */
    .search-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
    

    .search-box {
        padding: 7px;
        border: 1px solid #ddd;
        font-size: 14px;
        width: 200px;
        display: flex;
        flex-direction: row;
    }
    
    .button {
        background-color: rgb(124, 135, 231);  /* Cambié a un color visible */
        color: white;
        padding: 5px 5px;  /* Ajusta el tamaño del botón */
        cursor: pointer;
    }
    
    .button:hover {
        background-color: rgb(0, 140, 255);
    }

    @media (max-width: 768px) {
      h1 {
        font-size: 1.6rem;
      }
    }

    @media (max-width: 600px) {
      .dashboard-box {
        width: 100%;
        padding: 15px;
      }

      .btn-danger {
        width: 100%;
        text-align: center;
      }
    }
  </style>
{% endblock %}
{% block search %}
<div class="search-form">
    <form method="GET" action="{% url 'lista_trabajadores' %}" class="search-form">
        <input type="text" name="search" class="search-box" placeholder="Buscar por nombre..." value="{{ request.GET.search }}">
        <button type="submit" class="button">🔍</button>
    </form>
</div>
{% endblock %}

{% block content %}
  <h1>Listado de Colaboradores</h1>

  <div class="dashboard-container">
    <div class="dashboard-grid">
      {% for trabajador in trabajadores_match %}
        <div class="dashboard-box">
          <a href="{% url 'asistencias_trabajador' trabajador.id %}" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;">
            <span>{{ trabajador.empleado_nombre }}</span>
          </a>
        </div>
      {% endfor %}
    </div>

    <div class="buttons">
      <a href="{% url 'admin_dashboard' %}" class="btn-danger">Volver</a>
    </div>
  </div>
{% endblock %}
